<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>TeG | 特别关心查询</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body>
<dic class="container">
    <div class="row"  style="margin-top:50px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">特别关心查询</h3>
                </div>
                <div class="panel-body">
                <form role="form" method="POST">
                    <div class="form-group">
                        <label>QQ号</label>
                        <input type="text" class="form-control" placeholder="请输入你的QQ号" name="number">
                    </div>
                    <div class="form-group">
                        <label>QQ密码</label>
                        <input type="password" class="form-control" placeholder="请输入你的QQ密码" name="pd">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">查询！</button>
                </form>
                </div>
                <div class="panel-footer">
                    <p>注意事项：</p>
                    <p>1.如遇到数据繁忙等查询失败提示，请等待10分钟左右再试！</p>
                    <p>2.查询成功几率约为60%</p>
                </div>
            </div>
        </div>
    </div>
</dic>

{% if wrong_qq %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger">喵！请输入有效的QQ号和密码！请重新输入！</div>
    </div>
</div>
{% endif %}

{% if logged %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger">喵！数据繁忙请稍后再试！（换个姿势再来？</div>
    </div>
</div>
{% endif %}

</body>
</html>